/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2018, 7:26:37 PM
    Author     : 00140469
*/
#cabecera {
    
  font-size:  24px;
  font-family: Times New Roman;
  color: #235dba;
  text-align: center;
      
}

UL LI{
    
    list-style: none;
    background: #9098a5;
    display: inline;
    font-size: 18px; 
    font-family: Adobe Fan Heiti Std B;
    padding: 10px;
    border-radius: 5px;    
    
}

#menu {
    text-align: center;
      
}

img{
    
    border-radius: 15px;
    
}

#Cuerpo {
    
    text-align: center;
    font-size: 13px;
    
    
}

#pie {
    text-align: center;
    font-size: 15px; 
    font-family:  Times New Roman;
    background: #9098a5;
}