/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2018, 7:26:37 PM
    Author     : 00140469
*/
#cabecera {
    
  font-size:  24px;
  font-family: Times New Roman;
  color: #0849b2;
  text-align: center;
      
}

UL LI{
    
    list-style: none;
    background: #2e841f;
    display: inline;
    font-size: 18px; 
    font-family: Times New Roman;
    padding: 05px;
    border-radius: 15px;    
    
}

#menu {
    text-align: center;
      
}

img{
    
    border-radius: 15px;
    
}

#Cuerpo {
    
    text-align: center;
    font-size: 10px;
    
    
}

#pie {
    text-align: right;
    font-size: 10px; 
    font-family:  Times New Roman;
    background: #2e841f;
}